---
import { getCollection } from 'astro:content';

const works = await getCollection('works');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>List of Works</title>
  </head>
  <body>
    <h1>List of Works</h1>

    <ul>
      {works.map(work => (
        <li>{work.data.title}</li>
      ))}
    </ul>
  </body>
</html>