---
import { getCollection } from 'astro:content';
import ScoreLayout from '../../layouts/ScoreLayout.astro';
import Flipbook from '../../components/Flipbook.jsx';

export async function getStaticPaths() {
  const scores = await getCollection('scores');
  return scores.map(score => ({
    params: { slug: score.slug },
    props: { score },
  }));
}

const { score } = Astro.props;
---
<ScoreLayout>
  <h1>{score.data.title}</h1>
  <p>{score.data.description}</p>
  <Flipbook pdf={score.data.pdf} client:load />
</ScoreLayout>
